<extend name="public/base"/>

<block name="title">获取代码</block>
<block name="content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>获取代码</h2>
            <ol class="breadcrumb">
                <li>
                    <a>首页</a>
                </li>
                <li class="active">
                    <strong>获取代码</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>获取代码</h5>

            </div>
            <div class="ibox-content">
                <form class="" role="form" id="form">
                    <input type="hidden" id="id" name="id" value="{$model.id|default=''}"/>
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>网站脚本</label>
                                <p>
                                    <textarea name="code" id="code" class="form-control" rows="3">{$code}</textarea>

                                </p>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary" data-style="zoom-in" id="submit">复制</button>
            </div>

        </div>

    </div>
</block>

<block name="script">
    <script type="text/javascript">
        window.Clipboard = (function (window, document, navigator) {
            var textArea,        copy;
            function isOS() {
                return navigator.userAgent.match(/ipad|iphone/i);
            }
            function createTextArea(text) {
                textArea = document.createElement('textArea');
                textArea.value = text;
                document.body.appendChild(textArea);
            }

            function selectText() {
                var range,
                    selection;

                if (isOS()) {
                    range = document.createRange();
                    range.selectNodeContents(textArea);
                    selection = window.getSelection();
                    selection.removeAllRanges();
                    selection.addRange(range);
                    textArea.setSelectionRange(0, 999999);
                } else {
                    textArea.select();
                }
            }

            function copyToClipboard() {
                try {
                    if (document.execCommand("Copy")) {
                        console.log('copy success');
                    } else {
                        console.log('copy fail');

                    }
                } catch (err) {
                    console.log(2);
                }
                document.body.removeChild(textArea);
            }

            copy = function (text) {
                createTextArea(text);
                selectText();
                copyToClipboard();
            };
            return {
                copy: copy
            };
        })(window, document, navigator);

        $(document).ready(function () {

            $("#submit").click(function () {
                Clipboard.copy($('#code').val());
                toastr["success"]('复制成功');

            });
        });
    </script>
</block>