<div class='modal-header'>
    {$edit_state? '修改否定词' : '新增否定词'}
</div>
<div class='modal-body '>
    <form class='' role='form' id='form'>
        <input type='hidden' name='id' value='{$model.id|default=""}'/>
        <div class='row'>
            <empty name="client_user_id">
                <div class='col-sm-12'>
                    <div class='form-group'>
                        <label>客户</label>
                        <p>
                            <empty name="edit_state">
                                <html:select id='user_id' name='user_id' data='user_list' class='form-control'
                                             selected='model["user_id"]'/>
                                <else/>
                                <input type="hidden" name="user_id" value="{$model.user_id}">
                                <span class="form-control">{$model.user.name}</span>
                            </empty>
                        </p>
                    </div>
                </div>
                <else/>
                <input type="hidden" value="{$client_user_id}" name="user_id">
            </empty>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>所属{$title}</label>
                    <p>
                        <html:select id='unit_id' name='unit_id' data='unit_list' class='form-control'
                                     selected='model["unit_id"]' data-key="name" data-value="id" data-parent="user_id"
                                     first="请选择"/>
                    </p>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>否定词（一行表示一词）</label>
                    <p><textarea name="word" id="word" class="form-control" required
                                 rows="10">{$model.word|default=""}</textarea></p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
    <button type='button' class='btn btn-primary' data-style='zoom-in' id='submit'>提交</button>
</div>

<script type='text/javascript'>
    $(document).ready(function () {

        if ($('#user_id').length > 0) {
            $("#user_id").change(function () {
                $('#unit_id').val("");
                $('#unit_id option').not(':first').addClass('hidden').filter('[data-parent^="' + $('#user_id').val() + '"]').removeClass('hidden');
            });
            $('#user_id').change();
        } else {
            $('#unit_id option').removeClass('hidden');
        }

        function validate() {
            return $('#form').validate({
                rules: {
                    unit_id: {
                        required: true,
                    }
                },
            }).form();
        }

        $('#submit').click(function () {
            if (validate()) {
                var load_btn = Ladda.create(this);
                load_btn.start();
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: 'save',
                    data: data,
                    success: function (data) {
                        if (check_status(data)) {
                            $('#modal-sm').modal('hide');
                            data_table.draw();
                        }
                    },
                    error: function () {
                        toastr['error']('Error Occurred');
                    }
                }).always(function () {
                    load_btn.stop();
                });
            }
        });
    });
</script>
