<extend name="public/base"/>

<block name="title">代理管理</block>
<block name="content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a>首页</a>
                </li>
                <li class="active">
                    <strong>代理管理</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>代理列表</h5>

                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" id="search_keyword"
                                               placeholder="代理商账户 / 名称 / 手机号">
                                        <span class="input-group-btn">
                                            <button type="button" id="search-button" class="btn btn-primary">查询</button> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 text-right">
                                <a data-toggle="modal" data-target="#modal-md" href="_item_maintain"
                                   class="btn btn-primary">新增</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table" style="width:100%;"
                                   class="table table-striped  table-hover dataTables-example dataTable border-bottom"
                                   aria-describedby="DataTables_Table_0_info" role="grid">
                                <thead>
                                <tr role="row">
                                    <th>代理商账户</th>
                                    <th>代理商名称</th>
                                    <th>联系人</th>
                                    <th>手机号</th>
                                    <th>业务员</th>
                                    <th>客户数量</th>
                                    <th>计费系数</th>
                                    <th>账户余额</th>
                                    <th>是否启用</th>
                                    <th>创建时间</th>
                                    <th></th>
                                    <th width="100px"></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(document).ready(function () {
            var query = function (params) {
                params.query = $('#search_keyword').val();
                params.role_id = $('#role_id').val();
            };
            var columns = [
                {
                    "data": null,
                    "render": function (data) {
                        return (data.balance < 1000) ? ('<span style="color:red">' + data.user_name + '</span>') : data.user_name;
                    }
                },
                {"data": "name"},
                {"data": "contact"},
                {"data": "phone"},
                {"data": "salesman"},
                {"data": "client_count"},
                {"data": "rate"},
                {"data": "balance"},
                {"data": "active"},
                {"data": "created_time"},
                {
                    "data": null,
                    "render": function (data) {
                        return '<a href="agent_login/id/' + data.id + '.html">一键登录</a> ' + '<a data-toggle="modal" data-target="#modal-sm" title="" href="_item_payment/id/' + data.id + '.html">充值</a>';
                    }
                },
                {
                    "data": null,
                    "render": function (data) {
                        if (data.id == 1) {
                            return '';
                        }
                        return '<a class="btn-edit" data-toggle="modal" data-target="#modal-md" title="修改" href="_item_maintain/id/' + data.id + '.html"><i class="fa fa-pencil"></i></a>&nbsp;' +
                            '<a data-toggle="modal" data-target="#modal-sm" title="重置密码"  href="_reset_password/id/' + data.id + '.html"><i class="fa fa-wrench"></i></a>&nbsp;' ;
                            //(data.id <= 2 ? '' : '<a title="删除" href="javascript:void(0);" onclick="delete_item(' + data.id + ');"><i class="fa fa-trash"></i></a>');
                    }
                }
            ];
            load_list(query, columns);
        });
    </script>
</block>