<extend name='public/base'/>

<block name='title'>授权设置</block>
<block name='content'>
    <div class='row wrapper border-bottom white-bg page-heading'>
        <div class='col-lg-10'>
            <ol class='breadcrumb'>
                <li>
                    <a>首页</a>
                </li>
                <li>
                    <a>{$promote_type_name}设置</a>
                </li>
                <li class='active'>
                    <strong>授权设置</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class='wrapper wrapper-content animated fadeInRight'>
        <div class='row'>
            <div class='col-lg-12'>
                <div class='ibox float-e-margins'>
                    <div class='ibox-title'>
                        <h5>授权设置</h5>
                    </div>
                    <div class='ibox-content'>
                        <div class='row'>
                            <div class='col-lg-9'>
                                <div class='text-left'>
                                    <a href="https://developers.e.qq.com/oauth/authorize?client_id={$setting.appid}&redirect_uri={$setting.redirect_url}"
                                       class='btn btn-primary'>授权</a>
                                </div>
                            </div>
                        </div>
                        <div class='row m-t-lg'>
                            <div class='col-sm-12'>
                                <div class='form-group'>
                                    <label>授权数据</label>
                                    <p>
                                        {$setting.token}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>