<extend name='public/base'/>

<block name='title'>投放设置管理</block>
<block name='content'>
    <div class='row wrapper border-bottom white-bg page-heading'>
        <div class='col-lg-10'>
            <ol class='breadcrumb'>
                <li>
                    <a>首页</a>
                </li>
                <li>
                    <a>{$promote_type_name}设置</a>
                </li>
                <li class='active'>
                    <strong>投放设置管理</strong>
                </li>
            </ol>
        </div>
        <div class='col-lg-2'>
        </div>
    </div>
    <div class='wrapper wrapper-content animated fadeInRight'>
        <form id="form">
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='ibox float-e-margins'>
                        <div class='ibox-title'>
                            <h5>投放设置</h5>
                        </div>
                        <div class='ibox-content'>
                            <div class='form-group'>
                                <label>推广时段</label>

                                <div class='row m-b'>
                                    <volist name="weekday_list" id="weekday" key="i">
                                        <div class='col-sm-1'>
                                            <label for="">
                                                <empty name="weekday.checked">
                                                    <input type="checkbox" name="weekday" value="{$weekday.name}"
                                                           data-key="{$i}">
                                                    <else/>
                                                    <input type="checkbox" checked="checked" value="{$weekday.name}"
                                                           name="weekday" data-key="{$i}">
                                                </empty>
                                                {$weekday.name}
                                            </label>
                                        </div>
                                    </volist>
                                </div>
                            </div>
                            <div class='row m-b'>
                                <div class='col-sm-3'>
                                    <div class='form-group'>
                                        <label>推广时间</label>
                                        <p>
                                            <html:select id='hours' name='hours' data='hours_list' class='form-control'
                                                         selected='model["hours"]'/>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class='form-group'>
                                        <label>每日预算 <span class="text-danger">（最低{$min_budget}元每天）</span></label>
                                        <p>
                                            <input type='number' required="required" class='form-control'
                                                   id='daily_budget' name='daily_budget' min="{$min_budget}"
                                                   value='{$daily_budget|default=""}' autocomplete='off'/>
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <a href='javascript:;' id="btn_save"
                               class='btn btn-primary'>保存</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</block>
<block name='script'>
    <script type='text/javascript'>
        $(document).ready(function () {
            function validate() {
                return $('#form').validate({
                    rules: {
                        key: {
                            required: true,
                        }
                    },
                }).form();
            }


            $('#btn_save').click(function () {
                if (validate()) {
                    var load_btn = Ladda.create(this);
                    load_btn.start();
                    var weekday_list = [];
                    $('input[name=weekday]').each(function () {
                        if ($(this).is(':checked')) {
                            weekday_list.push($(this).val());
                        }
                    });


                    $.ajax({
                        type: 'POST',
                        url: 'save_client',
                        data: {
                            weekdays: weekday_list.join(';'),
                            daily_budget: $('#daily_budget').val(),
                            hours: $('#hours').val(),
                        },
                        success: function (data) {
                            if (check_status(data)) {
                            }
                        },
                        error: function () {
                            toastr['error']('Error Occurred');
                        }
                    }).always(function () {
                        load_btn.stop();
                    });
                }
            });
        });
    </script>
</block>
